$c-primary: #9ac2c9;
$c-border: #40434e;
$c-header: #b9e28c;

$breakpoint-x-small: 320px;
$breakpoint-m-small: 480px;
$breakpoint-small: 560px;
$breakpoint-medium: 768px;
$breakpoint-x-medium: 960px;
$breakpoint-large: 1200px;
$breakpoint-x-large: 1400px;
$breakpoint-xx-large: 1600px;
