.data-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
.data-table td, .data-table th {
    border: 1px solid #000000;
    padding: 5px 4px;
  }
.data-table tbody td {
    font-size: 13px;
  }
 .data-table thead {
    background: #CFCFCF;
  }
.data-table thead th {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: left;
  }
